a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
nav > ul {
    display: flex;
    justify-content: space-around;
}
.content-main{
    display: flex;
    justify-content: center;
}
.content-main > * {
    padding: 20px;
}
.post-footer{
    display: flex;
    justify-content: space-between;
}
footer > ul {
    display: flex;
    justify-content: space-around;
}
